<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
<h1><%= title %></h1>
<body>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input name="username" type="text" />
  <label for="password">Password</label>
  <input name="password" type="text" />
  <input type="submit">Log In</input>
</form>
<a class="links" href="/">Home<a>
</body>
</html>